.products-pagination {
  margin:70px;
  & .MuiSvgIcon-root{
  fill:#000;
}
  & .MuiPaginationItem-page.Mui-selected{
    background-color: transparent;
    color: #000;
  }
  & .MuiPaginationItem-root{
    font-size: 20px;
    color: #677283;
  }
  & .MuiPagination-ul:first-child>.MuiButtonBase-root,
  & .MuiPagination-ul:last-child>.MuiButtonBase-root{
    margin:0 50px;
  }
  & .MuiPaginationItem-icon{
    font-size:34px;
  }
}

@media (max-width: 768px) {
  .products-pagination {
    margin:50px 15px;

  }
  .products-pagination .MuiPaginationItem-root {
    font-size: 20px;
    padding: 0;
  }
  .products-pagination .MuiPaginationItem-icon {
    font-size: 25px;
  }
}