.slick-prev:before, .slick-next:before {
    background-color: var(--lightBg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
}
.slick-next:before {
    content: url("../../svg/icon-next.png");
}
.slick-prev:before {
    content: url("../../svg/icon-back.png");
}
.slick-arrow.slick-next {
    top: 163px;
}
.slick-arrow.slick-prev {
    top: 163px;
}
.slider-card {
    transform: scale(0.9);
    &:focus {
        outline: none;
    }
}
.slider {
    padding: 6% 0;
    &__header {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 26px;
        line-height: 27px;
        text-transform: uppercase;
        color: #677283;
        display: flex;
        justify-content: flex-start;
        margin-left: 1%;
    }
    &__main {
        padding-top: 3% 0;
    }
}

.slick-list {
    overflow: visible !important;
}