.navLinks-NAYA{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &>a{
    color:#fff;
    text-decoration: none;
  }
}

@media (max-width: 979px) {
  .navLinks-NAYA {
    display: none;
  }
}