.navLinks-NAYA{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &>a{
    color:#fff;
    text-decoration: none;
  }
}

@media (min-width: 640px) and (max-width: 980px) {
  .navLinks-NAYA {
    display: none;
    // display: flex;
    // flex-direction: column;
    // &>a {
    //   background-color: #51AD33;
    //   width: 35%;
    //   font-size: 14px;
    // }
  }
}