.filters-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  & .regular-filter{
    width:210px;
    margin-top: 20px;
    & .MuiTypography-body2{
      font-size: 14px;
    }
  }

  & .MuiPaper-elevation1{
    box-shadow: none;
  }
  & .MuiExpansionPanelSummary-content{
    text-align: left;
    margin:0;
  }
  & .MuiExpansionPanelSummary-content.Mui-expanded{
    margin: 0;
  }
  & .MuiExpansionPanelSummary-expandIcon{
    padding:0;
    margin-bottom: 20px;
  }
  & .MuiExpansionPanelSummary-expandIcon .MuiSvgIcon-root {
    fill:black;
  }

  & .MuiExpansionPanelDetails-root, & .MuiList-padding, & .PrivateSwitchBase-root-333, & .MuiExpansionPanelSummary-root{
    padding:0;
  }
  & .MuiListItemIcon-root{
    min-width: 26px;
  }
  & input[type='checkbox']+.MuiSvgIcon-root{
    fill:#51AD33;
  }
}

.filter-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 20px;
}
