.gray-bg {
  width: 100%;
  height: 100%;
  // top: 0;
  // left: 0;
  // overflow: auto;
  // background: rgba(133, 133, 133, 0.5);
  // z-index: 1500;
  // position: fixed;
}

.modal-signin {
  // position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 1500;
  width: 30%;
  height: 80%;
  background: #f9f9fb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin: 120px auto;

  &__sign-reg-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    &_text-header {
      padding-left: 20px;
      font-size: 22px;
      color: #000000;
      font-weight: bold;
    }
  }
}


.form {
  display: flex;
  flex-direction: column;

  &_label {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &_text {
      display: flex;
      justify-content: start;
    }
  }
}