.products-list-container{
  width: 75%;
}
.empty-product-list{
  height: 15vh;
  background-color: #eeeded;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.products-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
/*  justify-content: flex-start;*/
}
.product-list-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.products-pagination>ul{
  justify-content: center;
}


.products-list div:last-child{
  justify-self: flex-start;
}

@media (max-width: 768px) {
  .product-list-actions{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
}

@media (max-width: 750px) {
  .product-list-actions{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
}