.showMoreExpansion {
    color: #00B0FF;   
}
.readMore {
    width: 50%;
}
.MuiButtonBase-root.MuiExpansionPanelSummary-root.readMore {
    position: absolute;
    top: -140px;
    right: 48%;
}
.MuiTypography-root.MuiTypography-body1 {
    position: relative;
}
.readMore {
    & .MuiIconButton-edgeEnd {
        margin-right: 70px !important;
    }
}

.PrivateTabIndicator-root-288.PrivateTabIndicator-colorPrimary-289.MuiTabs-indicator {
    background-color: #EEEEEE;
}

// characteristics

.characteristics {
    width: 60%;
    height: 520px;
    margin: 0 auto;
    margin-top: 2%;

    &_item {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: start;
        padding: 1% 0;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }   
};