.container {
  width: 88%;
  margin: 0 auto;
}

.category{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-title{
  text-transform: uppercase;
  font-size: 26px;
  color:#000;
  width:20%;
  margin-bottom:45px;
}