.guaratnee-block {
    text-align: start !important;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #000000;

    p, div {
        margin: 1% 0;
    }
    h1, h3, h4 {
        margin: 2% 0;
    }
    span {
        font-weight: bold;
    }
    ul li:before {
        content:  "—";
        position: relative;
        left:     -5px;
    }
    ul {
        list-style: none;
    }
}
