@mixin delivery-font-style {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
  }

.MuiExpansionPanelSummary-content {
    margin-left: 62% !important;
}
.MuiPaper-root.MuiExpansionPanel-root.MuiExpansionPanel-rounded.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: none;
}
.MuiTypography-root.makeStyles-heading-292.MuiTypography-body1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.03em;

    color: #00B0FF;
}
// .MuiExpansionPanelDetails-root {
//     border-radius: 3px;
//     border: 1px dotted #51AD33;
// }
.delivery {
    width: 120%;

    &_item {
        display: flex;
        justify-content: space-between;
        @include delivery-font-style;
    
        &-free {
            color: #51AD33;
        }
        &-icon .MuiSvgIcon-root {
            color: #51AD33;
        }
        &-text.MuiTypography-root.MuiTypography-body1, &-free.MuiTypography-root.MuiTypography-body1, &-price.MuiTypography-root.MuiTypography-body1 {
            line-height: 3;
            
        }
    }
    
}