.category-description{
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  padding-top:70px;
  padding-bottom:90px;
  width: 100%;
  & h2{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color:#000;
    margin-bottom: 22px;
  }
  & p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  & .MuiExpansionPanelSummary-content>p{
    margin-bottom: 0;
  }
  & .readMore{
    width:300px;
  }
  & .MuiPaper-root{
    background-color: transparent;
    & .MuiExpansionPanelSummary-content{
      flex-grow: 0;
    }
  }
  & .MuiButtonBase-root.MuiExpansionPanelSummary-root.readMore{
    position:relative;
    top:0;
    right:0;
    margin:0;
    justify-content: flex-start;
    padding:0;

    & .MuiIconButton-root{
      padding:0;
    }
  }
  & .MuiAccordionSummary-root {
    padding: 0;
    justify-content: flex-start;
  }
  & .MuiAccordionSummary-content{
    flex-grow: 0;
  }
  & .MuiTypography-root.MuiTypography-body1 {
    padding-top: 20px;
  }
  & .MuiAccordionDetails-root {
    padding: 0;
  }
  & .MuiAccordionSummary-content.Mui-expanded {
    margin:0;
  }
}