@mixin fontStyle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;

    color: #000000;
  }
  .container {
      width: 85%;
      margin: 0 auto;
  }
.MuiSvgIcon-root {
    color: #fff;
    z-index: 100;
}
.makeStyles-root-1.MuiPaper-rounded{
    border-radius: 50px;
}
.phoneMenu {
    display: flex;
    line-height: 20px;
}

.account-menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__accountIcon {
        background-color: #C2C8D0;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__iconText {
        @include fontStyle;
        margin-left: 1rem;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    @include fontStyle;

    &__tel-number {
        text-decoration: none;
        @include fontStyle;
    
        & span {
            font-weight: 600;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 17px 0;
}
.search-form {
    width: 40%;
}
.logo {
    cursor: pointer;
}
.cart-nav {
    text-decoration: none;
}