@mixin fontStyle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;

    color: #000000;
  }
  .container {
      width: 85%;
      margin: 0 auto;
  }

.Header {
    &__top {
        width: 100%;
        padding: 15px 0;
        background: #F7F5F6;
    }
    &__text {
        font-size: 12px;
        font-weight: 300;
        color: black;
        margin-right: 20px;
        cursor: pointer;
    }
    &__text2 {
        font-size: 12px;
        font-weight: 300;
        color: black;
        text-align: center;     /*ПЕРЕДЕЛАТЬ*/
        margin-left: 150px;
        cursor: pointer;
        strong {
            font-weight: bold;
        }
    }
    &__bottom {
        background: #51AD33;
        padding: 20px 0;
    }
    &__text3 {
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        margin-right: 30px;
        cursor: pointer;
    }
}

.MuiSvgIcon-root {
    color: #fff;
    z-index: 100;
}
.makeStyles-root-1.MuiPaper-rounded{
    border-radius: 50px;
}
.phoneMenu {
    display: flex;
    line-height: 20px;
}

.account-menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__accountIcon {
        background-color: #C2C8D0;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__iconText {
        @include fontStyle;
        margin-left: 1rem;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    @include fontStyle;

    &__tel-number {
        text-decoration: none;
        @include fontStyle;
    
        & span {
            font-weight: 600;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}
.search-form {
    width: 40%;
}
.logo {
    cursor: pointer;
}
.cart-nav {
    text-decoration: none;
}
.hr {
    width: 122px;
    margin-top: -6px;
    position: fixed;
    height: 1px;
    background-color: #E7E9EB;
    border: none;
}