.prod-slider-left {
    display: flex;
    justify-content: center;
    text-align: center;

    & img {
        max-width: 500px;
        max-height: 420px;
    }
}
.prod-slider-rigth {
    border: 1px solid #F2F3F3;
    
    & img {
        transform: scale(0.7);
        
        width: 92px;
        height: 92px;
        
    }
}
.swiper-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}
// .swiper-slide.prod-slider-left.swiper-slide-active {
    // width: 320px;
// }
.swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
}
.swiper-container.swiper-container-initialized.swiper-container-vertical {
    height: 420px;
    width: 531%;
}

// arrows

.swiper-button-prev, .swiper-button-next {
    transform: scale(0.5);
    
    // color: var(--lightBg) !important;
}
.swiper-button-prev {
    margin-left: -14px;

    &:focus {
        outline: none;
    }
}
.swiper-button-next {
    margin-right: -2px;
}

.swiper-slide:not(.swiper-slide-active) > img {
  filter: opacity(50%);
}
.swiper-wrapper {
    width: 70%;
}

@media (min-width: 1350px) and (max-width: 1399px) {
    .prod-slider-left {
        & img {
            transform: scale(0.9);
        }
    }
}
@media (min-width: 1300px) and (max-width: 1350px) {
    .prod-slider-left {
        margin-left: -3%;
        & img {
            transform: scale(0.9);
        }
    }
}
@media (min-width: 1250px) and (max-width: 1300px) {
    .prod-slider-left {
        margin-left: -4%;
        & img {
            transform: scale(0.81);
        }
    }
}
@media (min-width: 1200px) and (max-width: 1250px) {
    .prod-slider-left {
        margin-left: -7%;
        & img {
            transform: scale(0.7);
        }
    }
}
@media (min-width: 1150px) and (max-width: 1200px) {
    .prod-slider-left {
        margin-left: -10%;
        & img {
            transform: scale(0.7);
        }
    }
}
@media (min-width: 1100px) and (max-width: 1150px) {
    .prod-slider-left {
        margin-left: -13%;
        & img {
            transform: scale(0.67);
        }
    }
}
@media (min-width: 1050px) and (max-width: 1100px) {
    .prod-slider-left {
        margin-left: -15%;
        & img {
            transform: scale(0.6);
        }
    }
}
@media (min-width: 1025px) and (max-width: 1050px) {
    .prod-slider-left {
        margin-left: -15%;
        & img {
            transform: scale(0.6);
        }
    }
}
@media (min-width: 980px) and (max-width: 1025px) {
    .prod-slider-left {
        margin-left: -18%;
        & img {
            transform: scale(0.59);
        }
    }
}