* {
  margin: 0;
  padding: 0;
}

.Footer {
  padding: 50px 150px;
  background-color: #000;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    &--right {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }
  }
  &__heading {
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: bold;
  }
  &__logo {
    position: relative;
    bottom: 15px;
    height: 35px;
    z-index: 0;
  }
  &__icons-wrapper {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 10px;
    div {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  &__text {
    font-size: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    &:after {
      content: '';
      width: 0px;
      position: absolute;
      bottom: -2px;
      left: 0;
      display: inline-block;
      height: 1px;
      transition: all linear .3s;
    }
    &:hover:after {
      transition: all linear .3s;
      width: 100%;
      background-color: white;
    }
  }
  &__link{
    font-size: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    color:#fff;
    text-decoration: none;
    &:after {
      content: '';
      width: 0px;
      position: absolute;
      bottom: -2px;
      left: 0;
      display: inline-block;
      height: 1px;
      transition: all linear .3s;
    }
    &:hover:after {
      transition: all linear .3s;
      width: 100%;
      background-color: white;
    }
  }
  &__input {
    margin-bottom: 10px;
    .MuiOutlinedInput-root {
      background-color: white;
      height: 30px;
      padding: 10px 0;
    }
    .MuiInputLabel-outlined {
      transform: none;
      margin-top: 8px;
      margin-left: 5px;
      font-size: 12px;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
        transform: translate(10px, -18px) scale(0.75);
    }
    .MuiInputLabel-root.Mui-focused {
      color: white;
      padding: 5px;
      border-radius: 10px;
      background-color: black;
    }
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }
  }
  &__hr {
    width: 100%;
    color: #5E5C5C;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  &__bottom-text {
    font-size: 12px;
    color: white;
  }
}