.breadcrumbs .MuiSvgIcon-root{
  fill:#000;
}

.breadcrumbs .MuiTypography-colorInherit{
  color:#000;
}
.breadcrumbs .MuiTypography-colorTextPrimary{
  color: #7D7D7D;
}
.breadcrumbs{
  margin: 20px 0 37px 0;
}